html {
    font-size: 14px;
    body {
        margin: 0;
        // background-color: var(--gray-50);
    }
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 2px;
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #757575;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #616161;
}

.main {
    margin-left: 220px;
    margin-top: 84px;
    padding: 1rem;
}
.sidebar {
    height: calc(100vh - (82px  + 0.5rem));
    bottom: 0;
}
.sidemenu {
    overflow-y: scroll;

}

.header {
    width: calc(100vw - 1rem);
}

.logo-placeholder {
    display: block;
    letter-spacing: 6px;
    font-size: 24px;
    font-weight: 800;
    color: var(--surface-200);
}

a {
    text-decoration: none;
}

.lang-panel {
    .p-overlaypanel-content {
        display: flex;
        flex-direction: column;
        padding: 10px !important;
        .p-button {
            gap: 4px;
        }
    }
}
button {
    &.header-item {
        padding: 2px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem !important;
        width: 2rem !important;
        margin: auto 8px;
        border-radius: 999px;
        &.lang-btn {
            padding: 1px !important;
            border: 1px solid var(--surface-200);
            height: 26px !important;
            width: 26px !important;
        }
    }
}
.lang-icon {
    min-width: 22px;
    width: 22px;
    min-height: 22px;
    height: 22px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 99999px;
    img {
        height: 100% !important;
        object-fit: cover !important;
        display: block !important;
        width: 100% !important;
        object-position: center !important;
    }
}

.p-toast-detail {
    margin: 0;
}

img {
    width: 100%;
}

.p-fileupload-file-thumbnail {
    max-height: 80px;
    width: unset;
}

.custom-vidjs {
    width: 300px !important;
    height: 150px !important;
    transform: scale(0.5) translate(-50%, -50%);
    > div {
        width: 100%;
        height: 100%;
    }
}

input:disabled,
button:disabled {
    pointer-events: auto;
    cursor: not-allowed !important;
}

.p-disabled,
.p-component:disabled {
    pointer-events: auto;
    cursor: not-allowed !important;
    .p-dropdown-trigger {
        display: none;
    }
}



.day-cell-content{
    width: 100%;
    height: 100%;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .star-attendance{
      max-width: 60px;
    }
    p {
        margin: 0 0 4px 0;
    }
  }
  
  .star-attendance{
    width: 40px;
    &.absent{
      filter: grayscale(1);
    }
  }
  
  .fc{
    .fc-daygrid-day-frame{
      height: 50px;
    }
    .fc-daygrid-day-top{
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .fc-daygrid-day-number{
      width: 100%;
      padding: 0;
    }
    .fc-daygrid-day-events,.fc-daygrid-day-bg{
      display: none;
    }
    .fc-button-primary{
      color: var(--primary-color-text) !important;
      background-color: var(--primary-color) !important;
    }
  }
  .fc-theme-standard td, .fc-theme-standard th{
    border-color: var(--gray-700) !important;
  }
  .fc-theme-standard .fc-scrollgrid{
    border-color: var(--gray-700) !important;
  }

  
.b-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 5px #000;
    &.b-bg {
      background: radial-gradient(circle, rgb(255 126 140) 0%, rgb(118 0 0) 100%);
    }
    &.i-bg {
      background: radial-gradient(
        circle,
        rgb(89 182 255) 0%,
        rgb(0, 49, 72) 100%
      );
    }
    &.n-bg {
      background: radial-gradient(circle, rgb(52 221 44) 0%, rgb(14 67 15) 100%);
    }
    &.g-bg {
      background: radial-gradient(circle, rgb(255 193 81) 0%, rgb(109 69 0) 100%);
    }
    &.o-bg {
      background: radial-gradient(circle, rgb(255 57 189) 0%, rgb(74 0 50) 100%);
    }
  }
  
  .separator {
    height: 10px;
    width: 100%;
    background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(1, 95, 135, 1) 46%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  
  .b-card {
    // width: calc(100% / 4 - 10px);
    padding: 6px;
    position: relative;
    background: linear-gradient(
      90deg,
      rgb(39 5 42) 0%,
      rgb(111 34 118) 46%,
      #260429 100%
    );
    border: 1px solid #5d1d63;
    border-radius: 5px;
    height: fit-content;
    max-width: 184px;
    &::before {
      content: "";
      top: -1px;
      height: 2px;
      width: 100%;
      z-index: 1;
      position: absolute;
      background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgb(255, 255, 255) 46%,
        rgba(0, 0, 0, 0) 100%
      );
    }
    &::after {
      content: "";
      bottom: -1px;
      height: 2px;
      width: 100%;
      z-index: 1;
      position: absolute;
      background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgb(255, 255, 255) 46%,
        rgba(0, 0, 0, 0) 100%
      );
    }
    .b-card-header {
      display: flex;
      align-items: center;
      gap: 2px;
      .b-letter {
        width: calc(100% / 5);
        aspect-ratio: 1 / 1;
        border-radius: 5px;
        box-shadow: inset 0 0 5px #000;
        border: 1px solid rgba(255, 255, 255, 0.0509803922);
        font-size: 20px;
      }
    }
    .separator {
      margin: 10px 0;
      height: 2px;
      width: 100%;
      background-image: linear-gradient(
        90deg,
        rgb(0 0 0 / 0%) 0%,
        rgb(255 255 255) 46%,
        rgb(0 0 0 / 0%) 100%
      );
      border-radius: 1000px;
    }
    .b-card-body {
      display: flex;
      gap: 2px;
      flex-wrap: wrap;
      height: 176px;
      flex-direction: column;
      .b-body-no {
        height: calc(100% / 5 - 4px);
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        margin-bottom: 2px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 16px;
        color: #000;
        &.no-active {
          background-color: #a70db2;
          box-shadow: inset 0 0 4px #000;
          color: #eab308;
        }
        .center-star {
          width: 25px;
          filter: drop-shadow(0 0 2px #00000059);
        }
      }
    }
  }
  
  .b-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 10px;
  }
  